  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --yellowClr:orange;
}
p{
  color: var(--yellowClr);
}
body{
  background: #040613;
  color: white;
  font-family: 'Roboto', sans-serif;
}
